<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Mongo.Connection.String" value="" />
    <add key="Mongo.Database" value="" />
    <add key="Mongo.Collection" value="" />
    <add key="Dropbox.Access.Token" value="" />
    <add key="Dropbox.File.Path" value="" />
    <add key="Data.Source.Default" value="1" />
    <add key="Data.Source.Switchable" value="1" />
    <add key="Data.Model.Auto" value="true" />
    <add key="Secret.Key" value="" />
    <add key="Norm.Min" value="80" />
    <add key="Norm.Max" value="190" />
    <add key="Alert.Hipo" value="60" />
    <add key="Alert.Hiper" value="250" />
    <add key="Time.Zone" value="Central European Standard Time" />
    <add key="Monitor.Restrictions" value="true" />
    <add key="Monitor.Week.Days" value="1;1;1;1;1;1;1" />
    <add key="Monitor.Time.Start" value="00:00:00" />
    <add key="Monitor.Time.End" value="23:59:59" />
    <add key="Monitor.Audio.Alert" value="1" />
    <add key="Message.Alert" value="1" />
    <add key="Message.Alert.Low" value="proszę podać dziecku coś słodkiego" />
    <add key="Message.Alert.Hipo" value="proszę zadzwonić pod numer &lt;br/&gt;&lt;br/&gt; +48 000-000-000 &lt;br/&gt;&lt;br/&gt; proszę podać dziecku coś słodkiego" />
    <add key="Message.Alert.Hight" value="proszę podać dziecku do picia wodę bez cukru &lt;br/&gt;&lt;br/&gt; dziecko nie może teraz jeść" />
    <add key="Message.Alert.Hiper" value="proszę zadzwonić pod numer &lt;br/&gt;&lt;br/&gt; +48 000-000-000 &lt;br/&gt;&lt;br/&gt; dziecko nie może teraz jeść ani ćwiczyć" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
